<div id="loginForm">
    <form class="form-horizontal">
        <fieldset>
            <legend>Login Here</legend>
            <div ng-hide="matchornot" class="alert alert-warning">Please check your username or password! </div>
            <div class="form-group">
                <label for="username" class="col-md-2 control-label">Username</label>
                <div class="col-md-10">
                    <input type="text" ng-model="username" class="form-control" id="username" placeholder="Username">
                    <div ng-show="notFillUname">Please fill out the username!</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    <input type="password" ng-model="password" class="form-control" id="password" placeholder="Password">
                    <div ng-show="notFillPswd">Please fill out the password!</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button class="btn btn-default" ng-click="userLogin(username,password)">Login</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>