<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="navbarLink">
                <li><a href="#/profile">Profile</a></li>
                <li><a href="#/inbox">Message</a></li>
                <li><a ng-click="logout()" style="cursor: pointer">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>